[defaults]
inventory          = ./inventory/inventory.ini
host_key_checking  = False
timeout            = 30
stdout_callback    = yaml

[persistent_connection]
# Allow enough time for the mock SSH server to respond
connect_timeout    = 30
command_timeout    = 30
